<h1> Edit the comment </h1>
<%= form_for(@comment) do |f| %> 

  <div class="field">
      <%= f.label :content %> 
      <%= f.text_field :content %>
  </div>

  <div class="actions">
      <%= f.submit "Edit!" %> 
  </div>
<% end %>
