<h1> Edit role </h1>
<%= form_for(@role) do |f| %> 

  <div class="field">
      <%= f.label :role_name %> 
      <%= f.text_field :role_name %>
  </div>

  <div class="actions">
      <%= f.submit "Save!" %> 
  </div>
<% end %>
