%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Logo
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to current_user.email.to_s , current_user
        %li
          = link_to 'Register', new_user_registration_path
        %li
          - if user_signed_in?
            = link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'We will miss you :(' } 
          - else
            = link_to 'Sign in', new_user_session_path